<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#">GESTÃO DE POMBOS</a>
  <ul class="dropdown-menu border-0 shadow">
    <li><a class="dropdown-item" href="{{ url_for('novo_pombo') }}">INSERIR POMBO</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="{{ url_for('lista_pombos') }}">TODOS OS POMBOS</a></li>
    <li><a class="dropdown-item" href="{{ url_for('reprodutores') }}">REPRODUTORES</a></li>
    <li><a class="dropdown-item" href="{{ url_for('voadores') }}">VOADORES</a></li>
    <li><a class="dropdown-item" href="{{ url_for('cedidos') }}">CEDIDOS</a></li>
    <li><a class="dropdown-item" href="{{ url_for('pombos_ocultos') }}">POMBOS OCULTOS</a></li>
  </ul>
</li>