{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow border-0 p-5 mt-5 text-center" style="border-radius: 10px;">
            <h2 class="text-primary fw-bold mb-4">GERAR PEDIGREE</h2>
            <form>
                <div class="mb-4">
                    <label class="form-label fw-bold text-muted small d-block text-start text-uppercase">Nº de Anilha
                        para Pedigree:</label>
                    <input type="text" name="anilha" class="form-control" placeholder="Ex: 123456/23"
                        style="padding: 15px; background: #f8f9fa;" autofocus>
                </div>
                <div class="d-flex flex-column gap-3">
                    <button type="button" class="btn btn-executar btn-lg w-100 shadow-sm">GERAR DOCUMENTO</button>
                    <a href="{{ url_for('index') }}" class="btn btn-retroceder btn-lg w-100 shadow-sm">VOLTAR</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}