{% extends "base.html" %}

{% block content %}
<div class="hero-section">

  {% if current_user.is_authenticated %}
  <div class="text-center mt-5">
    <h1 class="frase-central">
      GESTÃO DE COLÓNIAS
    </h1>
  </div>

  {% else %}
  <div class="text-center">
    <h2 class="fw-bold text-primary mb-5" style="font-size: 2.5rem;">Bem-vindo ao MYLOFT</h2>

    <div class="d-flex flex-column flex-md-row gap-3 justify-content-center">
      <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow">
        ENTRAR NO LOFT
      </a>
      <a href="{{ url_for('register') }}" class="btn btn-outline-primary btn-lg px-5 py-3 fw-bold bg-white">
        CRIAR CONTA
      </a>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}