{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-5 col-lg-4">
        <div class="card shadow border-0" style="border-radius: 10px;">
            <div class="card-body p-4 p-md-5">
                <h2 class="fw-bold text-primary mb-4 text-center text-uppercase">Entrar</h2>
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label fw-bold small text-muted">EMAIL</label>
                        <input type="email" name="email" class="form-control p-3" style="background: #f8f9fa;" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-bold small text-muted">PASSWORD</label>
                        <div class="input-group">
                            <input type="password" name="password" id="password"
                                class="form-control p-3 form-control-password" style="background: #f8f9fa;" required>
                            <span class="input-group-text" onclick="togglePassword('password', 'eyeIcon')">
                                <i class="bi bi-eye-slash" id="eyeIcon"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-executar w-100 p-3 mb-3 shadow">ENTRAR NA CONTA</button>
                    <div class="text-center small">
                        <span class="text-muted">Ainda não tem conta?</span>
                        <a href="{{ url_for('register') }}" class="fw-bold text-primary">Registe-se aqui</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePassword(inputId, iconId) {
        const passwordInput = document.getElementById(inputId);
        const eyeIcon = document.getElementById(iconId);
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("bi-eye-slash");
            eyeIcon.classList.add("bi-eye");
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove("bi-eye");
            eyeIcon.classList.add("bi-eye-slash");
        }
    }
</script>
{% endblock %}