{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow-sm border-0" style="border-radius: 10px;">
            <div class="card-body p-5">
                <h3 class="fw-bold text-primary mb-4">INSERIR NOVO POMBO</h3>
                <form method="POST">
                    <div class="mt-5 d-flex gap-3">
                        <button type="submit" class="btn btn-executar btn-lg px-5 shadow">GRAVAR POMBO</button>
                        <a href="{{ url_for('lista_pombos') }}" class="btn btn-retroceder btn-lg px-5 shadow">
                            <i class="bi bi-arrow-left"></i> VOLTAR
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}