{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="text-center mb-4">
            <h2 class="fw-bold">Recuperar Password</h2>
            <p class="text-muted small">Introduza o seu email para recuperar a senha.</p>
        </div>

        <form method="POST">
            <div class="mb-3">
                <label class="form-label text-muted small fw-bold">EMAIL DE REGISTO</label>
                <input type="email" name="email" class="form-control form-control-lg" placeholder="exemplo@email.com"
                    required>
            </div>

            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Enviar Instruções</button>
            </div>
        </form>

        <div class="text-center mt-4">
            <a href="{{ url_for('login') }}" class="text-decoration-none small fw-bold">Voltar ao Login</a>
        </div>
    </div>
</div>
{% endblock %}