{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow border-0 p-4" style="border-radius: 12px;">
            <h2 class="text-center text-primary fw-bold mb-4 text-uppercase">Criar Conta</h2>

            <form method="POST">
                <div class="mb-3">
                    <label class="form-label fw-bold small text-uppercase">Email</label>
                    <input type="email" name="email" class="form-control" style="border: 1px solid #777;" required
                        autofocus>
                </div>

                <div class="mb-4">
                    <label class="form-label fw-bold small text-uppercase">Password</label>
                    <div class="input-group">
                        <input type="password" name="password" id="regPassword" class="form-control"
                            style="border: 1px solid #777; border-right: none;" required>
                        <button class="btn btn-outline-secondary" type="button"
                            style="border: 1px solid #777; border-left: none; background: white;"
                            onclick="togglePassword('regPassword', 'eyeIconReg')">
                            <i class="bi bi-eye-slash text-dark" id="eyeIconReg"></i>
                        </button>
                    </div>
                </div>

                <button type="submit" class="btn btn-executar w-100 btn-lg shadow text-uppercase">Registar
                    Conta</button>
            </form>

            <div class="text-center mt-3">
                <a href="{{ url_for('login') }}" class="text-muted text-decoration-none small fw-bold">Já tens conta?
                    Fazer Login.</a>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePassword(inputId, iconId) {
        var input = document.getElementById(inputId);
        var icon = document.getElementById(iconId);
        if (input.type === "password") {
            input.type = "text";
            icon.classList.replace("bi-eye-slash", "bi-eye");
        } else {
            input.type = "password";
            icon.classList.replace("bi-eye", "bi-eye-slash");
        }
    }
</script>
{% endblock %}